@CHARSET "UTF-8";

.error{
	width:100%;
	font-family:"楷体";
	font-size: 20px;
	text-align:center;
	margin-top: 10px;
}

.pic{
	background-repeat:no-repeat;
	}
	
.goods{
	padding:20px;
	float:left;
	}
	
.bold{
	font-size:36px;
	font-weight:bold;
	}
	
.border{
	border:2px solid #a7dedf;
	}
	
.noborder{
	border:0px solid #a7dedf;
	}

table{
	bordercolor:#a7dedf;
	}
	
img{
 border:0;
 }
 
.a1:link {
	color:black;
	text-decoration:none;
	}
.a1:hover {
	color:red;
	text-decoration:none;
	} 
.a1:active {
	color:black;
	text-decoration:none;
	}
.a1:visited {
	color:black;
	text-decoration:none;
	} 